<!--
 * @Author: yangming
 * @LastEditTime: 2022-07-02 22:36:23
 * @Description: 列表页
-->
<template>
    <div v-for='(val, index) in data' :key='index' class='pb-3 border-b tab-list hover:bg-gray-100'>
        <div class='flex items-center justify-between'>
            <div class='flex items-center'>
                <div v-if='val.imgUrl' class='mr-4'>
                    <el-avatar size='large' :src='val.imgUrl' />
                </div>
                <div>
                    <el-link v-if='val.href' type='primary' :underline='false' :href='val.href'>
                        <p class='mb-1 text-sm'>
                            {{ val.title }}
                        </p>
                    </el-link>
                    <p v-else class='mb-1 text-sm'>
                        {{ val.title }}
                    </p>
                    <p v-if='val.subTitle' class='text-xs text-gray-500'>
                        {{ val.subTitle }}
                    </p>
                </div>
            </div>
            <slot />
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

interface IList {
    imgUrl: string
    title: string
    subTitle: string
    href?: string
}

export default defineComponent({
    name: 'List',
    props: {
        data: {
            type: Array as PropType<Array<IList>>,
            default: () => []
        }
    },
    setup() {
        return {}
    }
})
</script>
    