<!--
 * @Author: yangming
 * @LastEditTime: 2022-07-02 23:10:05
 * @Description: 
-->
<template>
  <router-view />
</template>

<script lang="ts">
console.log("hello")
console.log("world")
console.log("mozzie")
console.log("release2.0")
import { defineComponent } from "vue"

export default defineComponent({
  name: "App"
})
</script>
